[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

mock = "*"
pytest = "*"
pytest-cov = "*"
gevent = "==1.1"
pylibmc = "*"
python-memcached = "*"
detox = "*"
numpy = "*"
